<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/final_schema</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1213wanwan</property>

		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

	    <mapping class="com.neu.wanwan.POJO.User" />
		<mapping class="com.neu.wanwan.POJO.Email" />
		<mapping class="com.neu.wanwan.POJO.Profile" />
		<mapping class="com.neu.wanwan.POJO.Contact" />
        <mapping class="com.neu.wanwan.POJO.Message" />
        
	</session-factory>
</hibernate-configuration>
